* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    display: flex;
    margin: 0;
}

.content {
    max-width: 800px;
    margin: auto;
}

.title-daftar {
    padding: 8px 0px;
    max-width: 400px;
}

.title-daftar > h1{
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.title-daftar > p {
    font-size: 16px;
    line-height: 1.5;
    margin: 8px 0px 0px 0px;
    padding: 0;
}

.formulir {
    max-width: 400px;
    padding: 8px 0px;
}

form {
    display: flex;
    flex-direction: column;
}

h6 {
    margin: 4px 0px;
    font-size: 16px;
}

input {
    box-shadow: none;
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    padding: 10px;
}


.image {
    height: 690px;
    width: 570px;
}

.button {
    margin-top: 16px;
    margin-bottom: 12px;
    background-color: #0A6EBA;
    color:white;
    font-weight: bold;
    font-size: 16px;
    
}

.button:hover{
    background-color: #013f6e;
}

.button2 {
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #dbdbdb;
}

.button2:hover{
    background-color: #a8a8a8;
}

.keterangan {
    margin:4px 0px;
    text-align: center;
    font-size: 12px;
    color: #575757;
}

@media screen and (max-width: 750px) {
    .content {
        max-width: 100%;
        padding: 50px 50px;
        margin: auto; 
    }
    .image {
        display: none; 
    }

    .formulir {
        max-width: 100%; 
    }
}